.sidebar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    &.active {
        right: 0;
        visibility: visible;
        opacity: 1;
    }
    .backdrop {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(50, 56, 79, 0.2);
    }
    &__block {
        position: absolute;
        top: 0;
        right: 0; 
        width: 340px;
        // background-color: #aeaeae;
        height: 100%;
        transition: 0.3s all;
        z-index: 10;
        padding: 15px;
        background: #FFFFFF;
        border: 1px solid #D8E0EB;
        box-shadow: -4px 0px 25px rgba(33, 42, 59, 0.25);
        &-title {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #091E42;
        }
        input {
            display: block;
            margin-top: 25px;
        }
    }
}
